#service__main-container {
  overflow: hidden;
  height: auto;
  .grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
    .card {
      margin-bottom: 15px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      padding: 0 !important;
      .service__card-image {
        img {
          border-radius: 50%;
          width: 10rem;
          height: 10rem;
        }
      }
      h5 {
        font-weight: bolder;
      }
      .dropdown{
        .btn{
          width: 100%;
          background-color: #fabe78;
          border-color: #fabe78;
        }
        .dropdown-menu{
          width: 100%;
          border: 1px solid $text-color;
          background-color: #ddd;
          li{
            a{
              background-color: transparent;
            }
            &:hover{
              background-color: #fabe78;
              color: $color-white;
            }
          }
        }
      }
      @media screen and (max-width: 1400px) {
        width: 13rem !important;
      }
      @media screen and (max-width: 1200px) {
        width: 11rem !important;
        .service__card-image {
          img {
            border-radius: 50%;
            width: 8rem;
            height: 8rem;
          }
        }
        h5 {
          font-size: 18px;
        }
        p {
          font-size: 12px;
        }
        .dropbtn {
          font-size: 12px;
        }
      }
    }

    @media screen and (max-width: 992px) {
      grid-template-columns: 1fr 1fr 1fr;
      .card {
        width: 15rem !important;
        .dropbtn{
          display: none;
        }
      }
    }
    @media screen and (min-width: 992px) {
      .dropdown{
        display: none;
      }
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      .card{
        width: 100% !important;
      }
    }
    @media screen and (max-width: 512px) {
      grid-template-columns: 1fr;
      .card{
        width: 100% !important;
      }
    }
  }
  .dropbtn {
    background-color: $secondary-color;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    width: 100%;
    &:hover {
      background-color: #feedd8;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
    &:focus {
      background-color: #feedd8;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
  }
  .dropdown-container {
    cursor: pointer;
    display: inline-block;
    a {
      &:hover {
        background-color: #ddd;
      }
    }
  }

  .bg-same {
    background-color: $primary-color;
    border-radius: 15px;
    ul {
      @include MarPad();
      li {
        padding: 25px 13px;
        .card {
          border-radius: 15px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          img {
            border-radius: 50%;
            width: 10rem;
            height: 10rem;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            overflow: hidden;
          }
          h5 {
            font-size: 28px;
            font-weight: bold;
          }
          a {
            color: $text-color-one;
            text-decoration: none;
          }
          .read_more {
            color: $text-color-one;
            text-decoration: underline;
          }
          &:hover {
            background-color: #fabe78;
            color: $color-white;
            .card-title {
              color: $color-white;
            }
            a {
              color: $color-white;
            }
          }
          @media screen and (max-width: 1400px) {
            width: 15rem !important;
            img {
              width: 9rem;
              height: 9rem;
            }
            h5 {
              font-size: 22px;
            }
          }
          @media screen and (max-width: 1200px) {
            width: 13rem !important;
            h5 {
              font-size: 20px;
            }
            p{
              font-size: 12px;
            }
          }
        }
      }
    }
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  .hidden__container-one {
    position: relative;
    .inner {
      width: 0;
      height: 0;
      border-right: 20px solid $primary-color;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      position: absolute;
      top: -1rem;
      left: 7rem;
      transform: rotate(90deg);
    }
  }
  .hidden__container-two {
    position: relative;
    .inner {
      width: 0;
      height: 0;
      border-right: 20px solid $primary-color;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      position: absolute;
      top: -1rem;
      left: 23rem;
      transform: rotate(90deg);
    }
  }
  .hidden__container-three {
    position: relative;
    .inner {
      width: 0;
      height: 0;
      border-right: 20px solid $primary-color;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      position: absolute;
      top: -1rem;
      right: 40rem;
      transform: rotate(90deg);
    }
  }
  .hidden__container-four {
    position: relative;
    .inner {
      width: 0;
      height: 0;
      border-right: 20px solid $primary-color;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      position: absolute;
      top: -1rem;
      right: 24rem;
      transform: rotate(90deg);
    }
  }
  .hidden__container-five {
    background-color: $primary-color;
    border-radius: 15px;
    position: relative;
    .inner {
      width: 0;
      height: 0;
      border-right: 20px solid $primary-color;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      position: absolute;
      top: -1rem;
      right: 8rem;
      transform: rotate(90deg);
    }
  }
}

//service-detail css
#service__detail-container {
  .service__detail-title {
    h1 {
      font-size: 50px;
    }
  }
  p,
  span {
    font-size: 16px;
  }
  .service__long-desc {
    p {
      text-align: justify;
    }
  }
  .service__desc {
    p {
      text-align: justify;
    }
  }
  ul {
    @include MarPad();
    li {
      font-size: 16px;
      margin-bottom: 15px;
      font-weight: bold;
    }
  }

  .line_holder{
    @media screen and (max-width:1400px) {
      display: none;
    }
  }
}

//package css
.service__short-desc {
  p {
    font-size: 16px;
  }
}
#service__package-container {
  .card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #f7f7d7;
    .card-sub-title {
      font-size: 24px;
      color: $text-color-one;
    }
    .card-text {
      font-size: 16px;
    }
    .btn {
      background-color: $secondary-color;
      border-color: $secondary-color;
      color: $text-color-one;
      font-size: 20px;
      // width: 80%;
      transition: 0.3s all ease-in-out;
      margin-top: 20px;
      &:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      }
    }
  }
}
.modal-footer {
  .btn {
    // width: 30% !important;
    padding: 10px 20px;
  }
}

// gift and package css
.service__gift-section {
  background-image: url("https://d375139ucebi94.cloudfront.net/za/business_placeholders/day-spa-67931ca9216a44959a3a3957453d0cec.day-spa");
  // background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  .gift-container {
    background-color: rgba(0, 0, 0, 0.398);
    padding: 100px 40px;
    border-radius: 10px;
    label {
      color: $color-white;
      font-size: 18px;
    }
    .form-control {
      padding: 15px;
      font-size: 18px;
    }
    .package__btn {
      .btn {
        background-color: $secondary-color;
        border-color: $secondary-color;
        padding: 10px 30px;
        // width: 20%;
        color: $text-color;
        font-size: 22px;
        border-radius: 0;
        transition: 0.3s all ease-in-out;
        &:hover {
          color: $color-white;
          box-shadow: rgba(255, 255, 255, 0.25) 0px 6px 12px -2px,
            rgba(255, 255, 255, 0.3) 0px 3px 7px -3px;
        }
      }
    }
  }
}

//new year gift and card css
.services__gift-card-container {
  padding: 50px 70px;
  .card {
    border-radius: 10px;
    box-shadow: rgba(63, 38, 38, 0.25) 0px 6px 12px -2px,
      rgba(73, 43, 43, 0.3) 0px 3px 7px -3px;
    background-color: #f7f7d7;
    img {
      border-radius: 10px;
    }
    .card-title {
      margin-bottom: 20px;
      del {
        color: $text-color;
        padding-left: 10px;
      }
    }
    .card-sub-title {
      margin-bottom: 40px;
    }
    .btn {
      background-color: $secondary-color;
      border-color: $secondary-color;
      border-radius: 0;
      padding: 10px 30px;
      font-size: 18px;
      transition: 0.3s all ease-in-out;
      &:hover {
        color: $text-color-one;
        box-shadow: rgba(63, 38, 38, 0.25) 0px 6px 12px -2px,
          rgba(73, 43, 43, 0.3) 0px 3px 7px -3px;
      }
    }
  }
}
